.nav-bar {

    display: flex;
    row-gap: 100px;
    justify-content: space-between;
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    padding: 10px 20px;
}

.arrow {
    margin-left: 8px;
}

.nav-log {
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.nav-links div {
    padding: 10px 20px;
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-btns div {
    padding: 10px 20px;

}

.btn {
    background-color: white;
    border: 0.8px solid black;
    padding: 8px 18px;
    border-radius: 8px;

}

.feature-list {
    padding: 10px;
    /* width: 150px; */
    top: 60px;
    background-color: white;
    box-shadow: 1px 1px 5px;

    left: 100px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.feature-list ul {
    list-style: none;
}

.feature-list li {
    padding: 10px 0px;
}

.feature-list a {

    text-decoration: none;
    color: var(--Almost-Black)
}

.feature-list img {
    margin-right: 10px;
}




.company-list {
    padding: 10px;
    /* width: 150px; */
    top: 60px;
    left: 300px;
    background-color: white;
    box-shadow: 1px 1px 5px;

    border-radius: 5px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.company-list ul {
    list-style: none;
}

.company-list li {
    padding: 10px;
}

.company-list a {

    text-decoration: none;
    color: var(--Almost-Black)
}

.feature-list img {
    margin-right: 10px;
}

.flex {
    display: flex;

}

.menu-btn {
    padding: 20px 10px;
    display: none;
}

.menu-btn img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width:768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 60%;
        right: 0;
        box-shadow: 1px 1px 10px;
        border-radius: 5px;
        align-items: start;
        background-color: white;
    }

    .flex {
        flex-direction: column;

    }

    .feature-list {
        position: static;
        box-shadow: none;
        z-index: auto;


    }

    .company-list {
        position: static;
        box-shadow: none;
        z-index: auto;
    }

    .nav-btns {
        flex-direction: column;
        align-self: center;
    }

    .btn {
        padding: 8px 30px;
    }


    .menu-btn {
        display: block;
        position: absolute;
        z-index: 2;

        right: 5px;
    }

    .disable {
        display: none;
    }
}