    .form3-div {
       width: 500px;
       height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        /* border: 1px solid black  ; */
        color: var(--Marine-blue);
    }

    .add-ons {
        width: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .add-on {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        column-gap: 40px;
        border-radius: 5px;
        border: 1px solid var(--Cool-gray);
    }
.active{
    border-color: var(--Purplish-blue);
    background-color: var(--Pastel-blue);
}
    .add-on:hover {
        border-color: var(--Purplish-blue);
    }

    .add-on label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .add-on h3{
        font-weight: 500;
    }
    .add-on div p {
        color: var(--Cool-gray);
        font-size: 14px;
    }

    .add-on-rate {
        justify-self: flex-end;
        color: var(--Purplish-blue);
        /* font-size: 1rem;
        font-weight: 700; */
    }
    .btn-div{width: 100%;}