
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root {
  --dark-blue: #0b0d17;
  --blue-white: #d0d6f9;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bellefair", serif;
  color: var(--white);

}

h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;

  /* font-family: 'Barlow Condensed', sans-serif; */
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 2rem;
}
h5 {
  letter-spacing: 4.75px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
}

