@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root {
  --dark-blue: #0b0d17;
  --blue-white: #d0d6f9;
  --white: #ffffff;
}
h1 {
  /* font-size: 150px; */
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 28px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bellefair", serif;
  color: var(--white);

}
