.plan-container{
    width: 480px;
    display: flex;

    justify-content: space-between;
}
.plan-card{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
}

.plan-card input[type="radio"]{
    display: none;      
}
.plan-card label{
    width: 150px;
    padding-block: 20px;

}
 input[type="radio"]:checked ~ label {
    background-color:var(--Pastel-blue);
    border:1px solid var(--Purplish-blue) ;
}

.plan-card img {
    margin: 20px;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.plan-card label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
column-gap: 10px;
    border:1px solid hsl(228, 100%, 84%);
    border-radius:5px ;
}
.plan-title{
font-weight: 500;
font-size: 1.1rem ;
margin: 20px;
margin-bottom:5px ;
color: var(--Marine-blue);
}
.plan-rate{
    margin-left: 20px;
    margin-top:5px ;
}
.plan-card label:hover{
    border:1px solid var(--Purplish-blue) ;
}
.plan-offer
{ padding-inline: 20px;
    padding-bottom: 15px;
    color: var(--Marine-blue);
    
}
@media screen and (max-width:768px) {
  .plan-container{
    width: 100%;
    flex-direction: column;
row-gap: 20px;
    justify-content: space-between;
  align-items: space-between;
  
 
  }
 .plan-card{
    width: 100%;
    
   justify-content: space-between;
    flex-direction: column;
 }   
 .plan-card label{
    width: 100%;
   padding: 0;
    row-gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
 }
 .plan-card img{
    padding: 0;
    margin: 0;

 }
}